


  <ion-list *ngIf="!users" >
  <div *ngFor="let fake of fakeUsers">
    <div  class="div-parent"   >
      
      <div   class="div-left" >
  
        <div class="animate-imagebox" width="80"  ></div>
        </div>
        <div class="div-middle" >
        <p class="p-text" style="font-size:1.4rem"></p>
            <div class="text-decor">
      
        <p style="display: inline;
        font-size: .9rem;"></p>
            </div>
            <br>
            <div class="text-decor1">
      
              <p style="display: inline;
              font-size: .9rem;"></p>
                  </div>
      </div>
        <div class="div-right" >
          <div class="div-right-inner" >
            <p class="p-text p-points-text" style="font-size:1.2rem"></p>
            <p class="p-text p-points-text"></p>
          </div>
          </div>
        
     
     
        </div>
      </div>  


    </ion-list>

